In [2]:
import pandas as pd

In [91]:
sales_data = pd.read_csv('./data_files/sales_predictions.csv')
sales_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## 1) How many rows and columns?
## 2) What are the datatypes of each variable?
## 3) Are there duplicates? If so, drop any duplicates.

In [92]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## 4) Identify missing values.

In [94]:
sales_data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## 5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [103]:
#im going to drop all the NaN values being that they are item weights and outlet size and there is no way to properly assume those
#there is probably a better way of going about this just not sure as of right now
sales_data.dropna(how='any', axis=0, inplace=True)
sales_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

## 6) Confirm that there are no missing values after addressing them.

In [104]:
sales_data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## 7.) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [105]:
sales_data.groupby('Item_Fat_Content').sum()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Fat_Content,,,,,
Low Fat,39090.61,176.457278,424749.0464,6005538,6795734.046
Regular,20888.23,105.799940,234231.8782,3290698,3769240.276

In [106]:
sales_data.replace(['LF', 'low fat'], 'Low Fat', inplace=True)
sales_data.replace('reg', 'Regular', inplace=True)
sales_data.groupby('Item_Fat_Content').sum()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Fat_Content,,,,,
Low Fat,39090.61,176.457278,424749.0464,6005538,6795734.046
Regular,20888.23,105.799940,234231.8782,3290698,3769240.276

## 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [107]:
print('Min:', sales_data['Item_Weight'].min())
print('Max:', sales_data['Item_Weight'].max())
print('Mean:', sales_data['Item_Weight'].mean())

Min: 4.555
Max: 21.35
Mean: 12.898675268816925

In [108]:
print('Min:', sales_data['Item_Visibility'].min())
print('Max:', sales_data['Item_Visibility'].max())
print('Mean:', sales_data['Item_Visibility'].mean())

Min: 0.0
Max: 0.18832266399999997
Mean: 0.060700476990537565

In [109]:
print('Min:', sales_data['Item_MRP'].min())
print('Max:', sales_data['Item_MRP'].max())
print('Mean:', sales_data['Item_MRP'].mean())

Min: 31.49
Max: 266.8884
Mean: 141.7163278709678

In [110]:
print('Min:', sales_data['Item_Outlet_Sales'].min())
print('Max:', sales_data['Item_Outlet_Sales'].max())
print('Mean:', sales_data['Item_Outlet_Sales'].mean())

Min: 69.2432
Max: 10256.649
Mean: 2272.0374886021527